.portfolio__item {
  height: 200px;
  overflow-y: hidden;
  margin-bottom: 20px;
}

.portfolio__img{

  background-color: bisque;
  height: 100%;
  z-index: 2;

}
.portfolio__info{
  transition: all 0.2s ease-out;
  background-color:blueviolet;
  height: 100%;
  width: 100%;
  z-index: 4;
  position: absolute;
  top: 80px;
  border-top-left-radius: 10px ;
  border-top-right-radius: 10px ;
}